*.[oa]
*.so
*.sav
*~
*.ps
*.fits
*.fit
*.jpg
*.avi
*.mpg
*.gif
*.tar.gz
*.tar
*.gz
*.pdf
*.swp
*.log
*.spec
test
*.o*
*.e*
*.po*
*.pe*
*.flag
*.ps
!dotifs_etc_ex.ps
!3600_ex.ps
*.pdf
__pycache__
.ipynb*
*.ipynb
